.block {
  position: relative;

  overflow: hidden;
  display: block;

  max-width: 1700px;
  min-height: 100%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-right: 96px;
  padding-left: 96px;

  & > h3 {
    padding: 10px 0;
  }
}

.slider {
  position: relative;
  overflow: visible;
  padding: 10px 0;
}
