.block {
  position: relative;

  overflow: hidden;
  display: block;

  max-width: 1700px;
  min-height: 100%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 96px;

  & > h3 {
    padding: 10px 0;
  }
}

.slider {
  position: relative;
  overflow: visible;
}

.card {
  cursor: pointer;

  position: relative;

  display: block;

  width: 200px;
  height: 220px;
  padding-top: 250px;

  border: 1px solid var(--dark-500);
  border-radius: 10px;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}
