.block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 1460px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 70px 20px 20px;

  color: var(--light-100);

  & > div > h2 {
    padding: 0 0 0 30px;
  }
}

.selects {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px;
}

.firstBlock {
  display: flex;
  gap: 15px;
  align-items: center;
}

.pagination {
  overflow: hidden;
  display: flex;
  gap: 10px;
  align-items: center;

  width: 100%;
  padding: 20px 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
}

.card {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  width: 200px;
  height: 300px;

  border: 1px solid var(--dark-500);
  border-radius: 10px;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.cardInfo {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 10px;

  color: var(--light-100);

  opacity: 0;

  &:hover {
    opacity: 1;
    background: rgb(0 0 0 / 80%);
  }
}

.cardRating {
  display: inline-flex;

  width: fit-content;
  padding: 3px 5px;

  background: rgb(64 64 64 / 80%);
  border-radius: 3px;
}

.img {
  position: absolute;
  inset: 0;
}

.year {
  font-size: var(--font-size-s);
  color: var(--light-900);
}
