.block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 1460px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 70px 20px 20px;

  color: var(--light-100);

  & > div > h2 {
    padding: 0 0 0 30px;
  }
}

.selects {
  position: relative;
  padding: 30px;
}

.firstBlock {
  display: flex;
  gap: 15px;

  & > div:nth-child(4) {
    margin-left: auto;
  }
}

.pagination {
  overflow: hidden;
  display: flex;
  gap: 10px;
  align-items: center;

  width: 100%;
  padding: 20px 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  min-height: 100vh;
}

.card {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  min-height: 300px;

  border: 1px solid var(--dark-500);
  border-radius: 10px;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.cardInfo {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 10px;

  color: var(--light-100);

  opacity: 0;

  &:hover {
    opacity: 1;
    background: rgb(0 0 0 / 80%);
  }
}

.cardRating {
  display: inline-flex;

  width: fit-content;
  padding: 3px 5px;

  background: rgb(64 64 64 / 80%);
  border-radius: 3px;
}

.img {
  position: absolute;
  inset: 0;
}

.year {
  font-size: var(--font-size-s);
  color: var(--light-900);
}

.filtersTitle {
  display: none;
}

.filtersMenu {
  display: none;
}

.filtersTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.selectedBtn {
  display: none;
}

.closeFiltered {
  display: none;
}

@media (width <= 780px) {
  .selects {
    display: none;
  }

  .selects.active {
    position: fixed;
    z-index: 99;
    inset: 0;

    display: block;

    width: 100%;
    height: 100vh;

    background-color: var(--dark-900);
  }

  .closeFiltered {
    position: absolute;
    top: 15px;
    right: 15px;

    display: block;

    width: 30px;
    height: 30px;
  }

  .filtersMenu {
    display: block;
    width: 30px;
    height: 30px;
  }

  .firstBlock.active {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;

    width: 100%;
    padding: 20px;
  }

  .selectedBtn {
    display: block;
    margin-top: 20px;
  }

  .firstBlock {
    & > div {
      width: 100%;
      border-top: 1px solid var(--dark-500);

      & > div {
        width: 100%;
        height: 70px;

        font-size: var(--font-size-xl);

        background-color: inherit;
        border: none;
      }
    }

    & > div:nth-child(4) {
      margin: 0;
      border-bottom: 1px solid var(--dark-500);
    }
  }
}

@media (width <= 700px) {
  .card {
    min-height: 380px;
  }
}

@media (width <= 585px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card {
    min-height: 350px;
  }
}

@media (width <= 565px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card {
    min-height: 300px;
  }
}

@media (width <= 465px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  .card {
    min-height: 240px;
  }
}

@media (width <= 410px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .card {
    min-height: 250px;
  }
}
