.single-slider {
  .swiper-button-prev,
  .swiper-button-next {
    margin: 10px;
    font-weight: bold;
    color: var(--dark-900);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 15px;

    font-size: var(--font-size-xxl);

    opacity: 0.6;
    background-color: var(--light-500);
    border-radius: 6px;

    &:hover {
      opacity: 0.9;
      background-color: var(--light-900);
    }
  }
}
