.single-slider {
  .swiper-button-prev,
  .swiper-button-next {
    margin: 0 20px;
    font-weight: bold;
    color: var(--dark-900);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 15px;

    font-size: var(--font-size-xxl);

    opacity: 0.6;
    background: rgb(255 255 255 / 90%);
    border-radius: 6px;
  }
}
