.imgWrapper {
  cursor: pointer;

  position: relative;
  z-index: 1;

  overflow: hidden !important;

  width: auto;
  height: 600px;
  padding: 20px;

  color: var(--light-100);

  border: 1px solid var(--dark-300);
  border-radius: 10px;

  transition: all 0.5s;
}

.info {
  position: absolute;
  bottom: 20px;
  left: 20px;

  & > h4 {
    font-size: var(--font-size-xxl);
  }
}

.imgWrapper.active {
  overflow: hidden;
  color: var(--light-100);
  border-radius: 10px;
}

.infoRating {
  display: flex;
  align-items: center;
  margin-top: 20px;

  & > li {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
  }
}

.icon {
  margin-right: 10px;
  color: yellow;
}

.sliderContainer {
  min-height: 85vh;
}

.img {
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 10px;
}

.single-slider {
  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 44%);
    margin: 10px;
    font-weight: bold;
    color: var(--dark-900);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 15px;

    font-size: var(--font-size-xxl);

    opacity: 0.6;
    background-color: var(--light-500);
    border-radius: 6px;

    &:hover {
      opacity: 0.9;
      background-color: var(--light-900);
    }
  }
}
