.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateY(0);

  width: 100%;
  min-height: 60px;
  padding: 0 20px;

  color: var(--light-700);

  background: rgb(0 0 0 / 80%);

  transition: all 0.3s;
}

.header.active {
  transform: translateY(-100px);
  transition: all 0.3s;
}

.title {
  position: absolute;
  top: -75px;
  left: 1px;

  font-size: var(--font-size-xxl);
  color: var(--light-100);
}

.label {
  margin-bottom: 5px;
  font-size: var(--font-size-s);
  color: var(--dark-500);
}

.dialog {
  position: fixed;
  z-index: 100;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90vw;
  max-width: 850px;
  max-height: 85vh;
  padding: 5px 10px;

  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.icon {
  cursor: pointer;

  width: 26px;
  height: 26px;

  color: var(--light-900);

  transition: all 0.3s;

  &:hover {
    &:hover {
      color: var(--light-100);
      transition: all 0.2s;
    }
  }
}

.search {
  color: black;
  border: none;
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1400px;
  min-height: 60px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  min-height: 60px;

  & li {
    margin: 0 20px;
  }
}

.navItem {
  cursor: pointer;
  position: relative;
  color: var(--light-900);
  transition: all 0.3s;

  &:hover {
    color: var(--light-100);
    transition: all 0.2s;
  }
}

.navItem.active {
  cursor: pointer;
  position: relative;
  color: var(--light-100);

  &::after {
    content: '';

    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 2px;

    background: linear-gradient(to right, rgb(69 58 133 / 49%), #0ff, rgb(69 58 133 / 49%));
    border-radius: 10px;
  }
}

.searchForm {
  display: flex;
  flex-direction: column;
}

.auth {
  display: flex;
  align-items: center;
  min-height: 60px;

  & li {
    margin: 5px 20px 0;
  }
}
